.add-costs {
    padding: 10px 5px;
}

@media (min-width: 576px) {
    .add-costs {
        padding: 10px 0;
    }
}

@media (min-width: 768px) {
    .add-costs {
        display: flex;
        justify-content: space-around;

    }
}