.app {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-height: 100vh;
    font-size: 14px;
    position: relative;
    background-color: gray("200");
}

p {
    margin-bottom: 0.4rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: -40px auto -25px;
    height: 100vh;

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    .label {
        margin-bottom: .3rem;
        sup {
            color: red;
        }
    }
    span {
        color: red;
        font-size: .6rem;
        line-height: 1;
    }
    button {
        margin: 10px;
    }
}
