.content-wrapper {
    margin-top: $header-height;
    padding-left: 0;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    transition: padding-left .2s ease;
}

.sidebar-visible,
.sidebar-hidden {
    padding-left: 0;
}

@media (min-width: 576px) {

    .sidebar-visible {
        padding-left: 200px;
        padding-right: 30px;
    }

    .sidebar-hidden {
        padding-left: 25px;
        padding-right: 25px;
    }
}