.content-wrapper {
    margin-left: 0;
    min-height: calc(100vh - 40px - 25px);
    transition: margin-left .2s ease;
}

.sidebar-visible,
.sidebar-hidden {
    margin-left: 0;
}

@media (min-width: 576px) {

    .sidebar-visible {
        margin-left: 200px;
        margin-right: 30px;
    }

    .sidebar-hidden {
        margin: 0 25px;
    }
}