.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2000;
    bottom: 0;
    width: 100%;
    background-color: $dark;
    height: 25px;
    padding: 0.125rem;
    color: $primary;
}