.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2000;
    bottom: 0;
    width: 100%;
    background-color: gray("700");
    height: 25px;
    padding: 0.125rem;
    color: white;
}