.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: $dark;
    padding: 0 10px;
    min-height: 40px;
    position: relative;
    z-index: $header-layer;

    .logIn, .logout, &-user-name {
        font-size: .7rem;
    }

    .go-home, .logIn, .logout, &-user-name {
        transition: all .3s ease;
    }
    .go-home:hover, .logIn:hover, .logout:hover, &-user-link:hover {
        cursor: pointer;
        text-shadow: 1px 1px 1px black;
        text-decoration: none;
    }

    .go-home {
        margin: 0 5px;
    }

    &-control, &-user {
        display: flex;
        align-items: center;
    }

    &-user {

        & > * {
            margin: 0 5px;
    
        }

        &-link > * {
            margin: 0 5px;
    
        }
    }

}