.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    text-align: center;

    &-photo {
        img {
            min-height: 100px;
            min-width: 100px;
            width: 50%;
            margin: auto;
        }
    }

}