// COLORS
$primary: #fff;
$secondary: #8b8b8b;
$dark: #343a40;
$danger: #ff4136;

// MAIN DIMENSION
$header-height: 40px;
$footer-height: 25px;

// LAYERS (for z-index)
$input-close-layer: 70;
$dropdown-layer: 80;
$input-open-layer: 90;
$trigger-layer: 95;
$picker-layer: 96;
$sidebar-layer: 100;
$footer-layer: 200;
$header-layer: 201;
$edit-costs-layer: 300;
$spinner-layer: 900;
$snackbar-layer: 1000;